<!DOCTYPE html>
   <html>
   <head>
       <title>YouTube Uploader</title>
   </head>
   <body>
       <h1>Welcome to YouTube Uploader</h1>
       <a href="/login">Login with Google</a>
   </body>
   </html>